$curious-blue: #2CA5E0
$curious-blue-opacity: rgba(44, 165, 224, 0.99)
$curious-blue1: #1E93CB
$curious-blue1-opacity: rgba(30, 147, 203, 0.99)
$san-juan: #364C6E
$edgewater: #D4E7E3
$mountain-meadow: #1BBC9B
$mountain-meadow-opacity: rgba(27, 188, 155, 0.99)
$burnt-sienna: #EC6B56
$burnt-sienna-opacity: rgba(236, 107, 86, 0.99)
$wisteria: #9265B8
$wisteria-opacity: rgba(146, 101, 184, 0.99)
$shakespeare: #54ACD2
$shakespeare-opacity: rgba(84, 172, 210, 0.99)

/* font colors */
$chathams-blue: #165270
$white-ice: #E0FAF5
$bizarre: #F2E3E0
$french-lilac: #DCC5F0
$link-water: #CFE7F2
